version: "3.7"
services:
  proxy:
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
  backend:
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
  frontend:
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
  celery_worker:
    deploy:
      replicas: 0
      restart_policy:
        condition: on-failure
